* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Avenir, sans-serif;
    text-align: center;
    margin-top: 40px;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

#animate-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 2em;
    background-color: antiquewhite;
}

svg {
    size: 100%;
    width: 100%;
}

